<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <!-- report also coverage -->
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
    <!-- exclude composer vendor folder -->
    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
